extends base.pug

block content
    include ./components/sections/s-main.pug
    include ./components/sections/s-directions.pug
    include ./components/sections/s-about.pug
    include ./components/sections/s-consultation.pug
    include ./components/sections/s-project.pug
    include ./components/sections/s-certificates.pug
    include ./components/sections/s-choice.pug
    include ./components/sections/s-location.pug