.b-slider {
    position: relative;
    max-width: 57.5rem;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: -2.1875rem -1.875rem;
    padding-top: 1.875rem;
    margin-bottom: 40px;
    &__container {
        overflow: hidden;
        margin: 0 auto;
        max-width: 53.125rem;
        text-align: center;
    }
    &__wrapper,
    &__item {
        height: auto;
    }
    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    &__next_img {
        width: 50px;
        fill: black;
        transform: rotate(-90deg);
    }
    &__prev_img {
        width: 50px;
        fill: black;
        transform: rotate(90deg);
    }
    &__prev {
        left: -1.5625rem;
        @include tablets {
            left: 3.4375rem;
        }
        @include l-phones {
            display: none;
        }
    }
    &__next {
        right: -1.5625rem;
        @include tablets {
            right: 3.4375rem;
        }
        @include l-phones {
            display: none;
        }
    }
    &__img {
        max-width: 80%;
        @include tablets {
            max-width: 70%
        }
        @include l-phones {
            max-width: 60%;
            margin-left: -55px;
        }
        @include s-phones {
            max-width: 50%;
            margin-left: -250px;
        }
    }
}