section.about#sec
    .content
        h2.title.about__title О нас в цифрах
        .digits
            ul.digits__list
                li.digits__item
                    .digit 
                        .digit__num 7
                        .digit__line
                        .digit__desc Лет стабильной работы
                li.digits__item
                    .digit 
                        .digit__num 73
                        .digit__line
                        .digit__desc Заказчика по всей стране
                li.digits__item
                    .digit 
                        .digit__num 26
                        .digit__line
                        .digit__desc Компетентных специалистов в штате
                li.digits__item
                    .digit 
                        .digit__num 100
                        .digit__line
                        .digit__desc Реализованных проектов