section.certificates#cert
    .content
        h2.title.certificates__title Наши сертификаты
        ul.certificates__list
            li.certificates__item
                img.certificates__img(src="./images/serf.png")
            li.certificates__item
                    img.certificates__img(src="./images/serf.png")
            li.certificates__item
                    img.certificates__img(src="./images/serf.png")
            li.certificates__item
                    img.certificates__img(src="./images/serf.png")