section.choice#choi
    .content
        h2.title.choice__title Выбирая нас, Вы получаете:
        ul.choice__list
            li.choice__item
                img.choice__img(src="./images/star.svg")
                .choice__descs
                    .choice__name Качественную работу
                    .choice__desc Детально проработанные проектные решения с гарантией прохождения экспертизы.
            li.choice__item
                img.choice__img(src="./images/wallet.svg")
                .choice__descs
                    .choice__name Экономию денежных средств
                    .choice__desc Экономию при строительстве объекта за счет экономически выгодных решений принятых на стадии проектирования.      
            li.choice__item
                img.choice__img(src="./images/bubbles.svg")
                .choice__descs
                    .choice__name Уверенность в проекте
                    .choice__desc Готовое решение проблемы, ответственность за которое несет проектная организация.  
            li.choice__item
                img.choice__img(src="./images/shield.svg")
                .choice__descs
                    .choice__name Надежность объекта
                    .choice__desc Гарантию безопасной эксплуатации объекта.