section.consultation#cons
    .content
        h2.title.consultation__title Получи консультацию специалиста
        .consultation__request Оставте заявку и менеджер свяжется с Вами в течении часа
        form.form(action="")
            input.form__input(type="text" placeholder="Ваше имя" required maxlength="18")
            input.form__input(type="tel" placeholder="Ваш телефон" required maxlength="13")
            button.btn.bbtn Отправить