section.directions#proj
    .content.content__directions
        h2.title.directions__title Наши направления
        .directions__desc Компания ООО &laquo;ТитатнПроект&raquo; занимается проектированием инженерных систем любой сложности
        ul.directions__list
            li.directions__item
                .direction
                    img.direction__img(src='./images/pb1.jpg')
                    .direction__name Вентиляция
                    ul.direction__list
                        li.direction__item - Принудительная
                        li.direction__item - С рекуперацией
                        li.direction__item - Кондиционирование
                        li.direction__item - Теплоснабжение и тд.
                    button.btn.sbtn.direction__btn Узнать стоимость проекта
            li.directions__item
                .direction
                    img.direction__img(src='./images/pb2.jpg')
                    .direction__name Электроснабжение
                    ul.direction__list
                        li.direction__item - Силовое
                        li.direction__item - Слаботочное
                        li.direction__item - Внутреннее
                        li.direction__item - Наружное
                    button.btn.sbtn.direction__btn Узнать стоимость проекта
            li.directions__item
                .direction
                    img.direction__img(src='./images/pb3.jpg')
                    .direction__name Отопление
                    ul.direction__list
                        li.direction__item - Расчет тепло потерь здания
                        li.direction__item - Выбор оптимальной схемы отопления
                        li.direction__item - Внутренние и наружные сети
                        li.direction__item - Тепловизионный осмотр
                    button.sbtn.btn.direction__btn Узнать стоимость проекта