section.location
    .contacts
        .container
            h2.contacts__title Cвяжитесь с нами
            a(href="tel: +375293433434").contacts__phone +375 29 343 34 34
            a.contacts__email v.sushchinski@titanproekt.by
            a.contacts__address г. Минск, ул. Максима Богдановича, 112-3Н, 2-й этаж
            .contacts__index 220240
            .social
                ul.social__list
                    li.social__item
                        img.social__img.icons_fb(src='./images/fb.svg')
                    li.social__item
                        img.social__img.icons_tw(src='./images/twitter.svg')
                    li.social__item
                        img.social__img.icons_vk(src='./images/inst.svg')
    #map
    footer.footer
        .footer__logo LOGO