section.hero
    header.header
        nav.header__nav
            ul.header__list
                li.header__item
                    a.header__link Услуги
                li.header__item
                    a.header__link Наши услуги
                li.header__item
                    a.header__link Контакты
            .header__logo
                img(src="./images/logo.jpg").header__img
            .header__block
                a.btn.header_btn
                    span.btn__text.sbtn Скачать опросник
                a(href="tel: +375293433434").header__phone +375 29 343 34 34
    .content.hero__content            
        h1.hero__title Проектирование сиситем
        .hero-desc
            ul.hero-desc__list
                li.hero-desc__item - Электроснабжение
                li.hero-desc__item - Водоснабжение
                li.hero-desc__item - Вентиляция
        .hero__sub-title
            span.hero__sub-title_text предварительный аудит вашего задания
            span.hero__sub-title_text три бесплтаный варианта проекта
        button.btn.bbtn.hero__btn узнать подробности
        a(href="#proj").hero__arrow
            img.arrow__img(src='./images/down-arrow.svg')
    .btn__fixed
        img(src="./images/phone-call.svg").btn__fixed_img