$purp: #444B7F;
// weight
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;
//breakpoints
$large-desktops: 1200px;
$desktops: 1024px;
$tablets: 768px;
$l-phones: 576px;
$m-phones: 480px;
$s-phones: 320px;